In [3]:
import pandas as pd
import numpy as np

pd.Series(2)
pd.Series([2]*5)
pd.Series(list('hello'))
pd.Series({1:'India',2:'Japan',3:'Singapore'})
pd.Series(np.arange(1,5))
pd.Series(np.random.normal(size=4))
pd.Series([2,0,1,6], index=['a','b','c','d'])
x=pd.Series(np.arange(1,10))
print(x.size)
print(len(x))
print(x.shape)
print(x.values)
print(x.index)

9
9
(9,)
[1 2 3 4 5 6 7 8 9]
RangeIndex(start=0, stop=9, step=1)

In [5]:
z=pd.Series(['a','b','a','c','d','b'])
print(z.value_counts())
print(z.value_counts().head(2))
z.value_counts()\
.head(2)\
.values

a    2
b    2
c    1
d    1
dtype: int64
a    2
b    2
dtype: int64

array([2, 2], dtype=int64)

In [6]:
student_ages=pd.Series([22,24,20])
teacher_ages=pd.Series([40,50,45])
combined_ages=pd.DataFrame([student_ages,teacher_ages])
combined_ages.columns=['class 1','class 2','class 3']
combined_ages

   class 1  class 2  class 3
0       22       24       20
1       40       50       45

In [7]:
combined_ages=pd.DataFrame({'class 1':[22,40],'class 2':[24,50],'class 3':[20,45]})
combined_ages

   class 1  class 2  class 3
0       22       24       20
1       40       50       45

In [8]:
numerical_df=pd.DataFrame(np.arange(1,9).reshape(2,4))
numerical_df

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [9]:
combined_ages=pd.DataFrame([(22,24,20),(40,50,45)],columns=['class 1','class 2','class 3'])
combined_ages

   class 1  class 2  class 3
0       22       24       20
1       40       50       45

In [10]:
covid = pd.read_csv('c:\\tmp\\subset-covid-data.csv')
covid.head()

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0
3,Andorra,Europe,2020-04-12,12,4,2020,21,2,AND,77006.0
4,Angola,Africa,2020-04-12,12,4,2020,0,0,AGO,30809762.0

In [11]:
combined_ages=pd.DataFrame({'class 1':[22,40],'class 2':[24,50],'class 3':[20,45]})
combined_ages.rename(columns={'class 1':'batch 1','class 2':'batch 2','class 3':'batch 3'},inplace=True)
combined_ages

   batch 1  batch 2  batch 3
0       22       24       20
1       40       50       45

In [18]:
combined_ages=pd.DataFrame([(22,24,20),(40,50,45)],columns=['class 1','class 2','class 3'])
combined_ages.replace({22:33})
combined_ages['batch 4']=[18,40]
combined_ages.insert(2,'extra',[21,39])
combined_ages.loc[:,'batch 5']=[18,41]
combined_ages

   class 1  class 2  extra  class 3  batch 4  batch 5
0       22       24     21       20       18       18
1       40       50     39       45       40       41

In [ ]:
covid = pd.read_csv('c:\\tmp\\subset-covid-data.csv')